header {
   background: var(--dark-blue);
   z-index: 999;
}
.header_btn {
   display: none;
}
.logo img {
   max-width: 80px;
}
nav ul li {
   list-style: none;
}
nav input {
   display: none;
}
nav label {
   height: 20px;
   width: 30px;
   display: block;
   cursor: pointer;
}
nav span {
   width: 30px;
   height: 4px;
   background: var(--cyan);
   display: block;
   margin-bottom: 4px;
   border-radius: 5px;
   cursor: pointer;
   position: relative;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

nav ul {
   top: 80px;
   right: 0px;
   background: var(--dark-blue);
   transition: transform 0.5s ease-in;
}
nav ul li button {
   color: var(--white);
   font-family: var(--mono);
}
nav span:first-child {
   transform-origin: 0% 0%;
}
nav span:last-child {
   transform-origin: 0% 100%;
}
#check:checked ~ ul {
   transform: translateX(0%);
   transition: transform 0.5s ease-in;
}
#check:checked ~ label span:first-child {
   transform: rotate(45deg) translate(-2px, -1px);
   transition: transform 0.5s ease-in;
}
#check:checked ~ label span:nth-child(2) {
   transform: rotate(-45deg) translate(-9px, 2px);
   transition: transform 0.5s ease-in;
}
#check:checked ~ label span:last-child {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}
